/* styles.css */

h1,h2 {  
	font-family: "Rock Salt", cursive;
}

h1{
	color:#82B2C0;
}

h2 {
	border-top:#9BABBE 3px solid;
	color:#C3C2D5;
}
p,ul {
	 font-family: "Caveat Brush", cursive;
}

body {
	background-color:#C4DFE5;
}
