/* styles.css */

h1,h2 {  
	font-family: "Rock Salt", cursive;
	border-bottom:#FCDCE1 3px solid;
	border-length: 10;
}

p,ul {
	 font-family: "Caveat Brush", cursive;
}

body {
	background-color:#C4DFE5;
}
