h1 {
        font-family: "Abril Fatface", serif;
        color:#344E41;
        font-size: 3.5em;
        margin: 10px;
   
        
}

h2 {
        font-family: "Abril Fatface", serif;
        color:#3A5A40;
        font-size: 2.8em;
        margin: 10px;
}


h3 {
        font-family: "Abril Fatface", serif;
        color:#588157;
        font-size: 2em;
        margin: 10px;
}

p {
        font-family: "Forum", serif;
        color:#758467;
        font-size:1.2em;
        margin:20px;
        border: 5px solid #9CAF88;
        padding: 10px;
        position: absolute;
        overflow: hidden;
}

body {
background-color:#F6DCDF;
background-image: url("images/geometric-leaves.webp");
background-repeat: repeat;
}

.image{
float: right;
max-width: 100%
min-width: 100%
position: absolute;
}
